In [6]:
import pandas as pd

In [21]:
train_data = pd.read_csv('../data/train.csv')
val_data = pd.read_csv('../data/val.csv')

In [22]:
train_data

       product  week  sales
0         4048     0    2.0
1         4661     0    2.0
2         3956     0   11.0
3         2552     0   23.0
4         3668     0   12.0
...        ...   ...    ...
12553     3401    12    0.0
12554     1289    12    0.0
12555     4354    12    0.0
12556     2030    12    0.0
12557     3580    12    0.0

[12558 rows x 3 columns]

In [23]:
features = train_data.copy()

past_weeks = 2

for i in range(past_weeks):
    shift_num = i + 1

    sale_column_name = f'last-{shift_num}_week_sales'
    diff_column_name = f'last-{shift_num}_week_diff'
    features[sale_column_name] = features.groupby(['product'])['sales'].shift(shift_num)
    features[diff_column_name] = features.groupby(['product'])[sale_column_name].diff()
    
    features = features.dropna()

features

,product,week,sales,last-1_week_sales,last-1_week_diff,last-2_week_sales,last-2_week_diff
4830,4048,5,16.0,7.0,-14.0,21.0,10.0
4831,4661,5,25.0,4.0,-7.0,11.0,10.0
4832,3956,5,72.0,124.0,89.0,35.0,12.0
4833,2552,5,149.0,224.0,7.0,217.0,-35.0
4834,3668,5,68.0,105.0,25.0,80.0,0.0
...,...,...,...,...,...,...,...
12553,3401,12,0.0,0.0,0.0,0.0,0.0
12554,1289,12,0.0,0.0,0.0,0.0,0.0
12555,4354,12,0.0,0.0,0.0,0.0,0.0
12556,2030,12,0.0,0.0,0.0,0.0,0.0
12557,3580,12,0.0,0.0,0.0,0.0,0.0

In [17]:
def rmsle(ytrue, ypred):
    return np.sqrt(mean_squared_log_error(ytrue, ypred))

In [18]:
train

       product  week  sales  last_week_sales  last_week_diff
1932      4048     2   11.0              8.0             6.0
1933      4661     2    1.0              5.0             3.0
1934      3956     2   23.0             17.0             6.0
1935      2552     2  252.0            461.0           438.0
1936      3668     2   80.0             38.0            26.0
...        ...   ...    ...              ...             ...
12553     3401    12    0.0              0.0             0.0
12554     1289    12    0.0              0.0             0.0
12555     4354    12    0.0              0.0             0.0
12556     2030    12    0.0              0.0             0.0
12557     3580    12    0.0              0.0             0.0

[10626 rows x 5 columns]